<!DOCTYPE html>
<html ng-app="templateApp">

  <head>
    <meta charset="UTF-8">
    <title>Node + express + angular template</title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
    <script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/static/js/angular.js" type="text/javascript"></script>
    <script src="/static/js/controller.js" type="text/javascript"></script>

  </head>
  <body ng-controller="templateAppController">

    <div style="position:fixed;top: 50%;left: 40%;">{{ message }}</div>

  </body>

</html>
